<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874876560705-21r34m52mhf1ri5sn5g0o8oupuvj7bl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874876560705-21r34m52mhf1ri5sn5g0o8oupuvj7bl1</string>
	<key>API_KEY</key>
	<string>AIzaSyCZmjaEGc-Vz0GBmH1ZLrvyYE-hHVek63s</string>
	<key>GCM_SENDER_ID</key>
	<string>874876560705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.qasem.flashChat</string>
	<key>PROJECT_ID</key>
	<string>qasem-flash-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>qasem-flash-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874876560705:ios:8ebf5455865dad4820edc0</string>
	<key>DATABASE_URL</key>
	<string>https://qasem-flash-chat.firebaseio.com</string>
</dict>
</plist>